# Dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/cache
.yarn/install-state.gz

# Build
**/build/
**/dist/

# iOS
Pods/
**/ios/Pods/
**/ios/Pods/**/*
**/ios/*.xcworkspace
**/ios/*.xcodeproj/xcuserdata/**/*
**/ios/*.xcodeproj/project.xcworkspace/**/*
**/ios/build/
**/ios/Podfile.lock
**/*.xcuserstate

# Android
**/android/app/build/
**/android/.gradle/
**/android/build/
**/android/local.properties

# IDE
.history